{% liquid
  assign logo = section.settings.logo
  assign user_img = section.settings.user_img
  assign menu = section.settings.menu
  assign enable_search = section.settings.enable_search_box
%}

{% comment %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      {% if logo != null %}
        <img
          src="{{ logo | img_url }}"
          alt="{{ shop.name }}"
          width="100"
          height="100"
        >

      {% else %}
        <a class="navbar-brand" href="#">{{ shop.name }}</a>
      {%- endif -%}
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for link in menu.links %}
            <li class="nav-item {% if link.links.size > 0 %} dropdown {% endif %}">
              <a
                class="nav-link {% if link.links.size > 0 %}dropdown-toggle dropdown-toggle_{{ forloop.index }}{% endif %}"
                href="{{ link.url }}"
                {% if link.links.size > 0 %}
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                {% endif %}
              >
                {{ link.title }}
              </a>
              {% if link.links.size > 0 %}
                <ul class="dropdown-menu">
                  {% for dropLink in link.links %}
                    <li>
                      <a class="dropdown-item" href="{{dropLink.url}}">{{ dropLink.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% if enable_search %}
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            >
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        {% endif %}
      </div>
    </div>
  </nav>
{% endcomment %}

<nav class="navbar navbar-expand-lg main_menu" itemscope itemtype="http://schema.org/Organization">
  <div class="container container_large">
    <a class="navbar-brand" href="{{ shop.url }}" itemprop="url">
      {% if settings.logo != blank %}
        <img
          src="{{ settings.logo | img_url: 'master' }}"
          alt="{{ shop.name }}"
          class="img-fluid w-100"
          itemprop="logo"
        >
      {% else %}
        <span itemprop="name">{{ shop.name }}</span>
      {% endif %}
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars bar_icon"></i>
      <i class="far fa-times close_icon"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        {% for link in linklists['main-menu'].links %}
          <li
            class="nav-item{% if link.active %} active{% endif %}"
            itemprop="memberOf"
            itemscope
            itemtype="http://www.schema.org/SiteNavigationElement"
          >
            <a class="nav-link" href="{{ link.url }}" itemprop="url">{{ link.title }}</a>
            {% if link.links.size > 0 %}
              <ul class="droap_menu">
                {% for sublink in link.links %}
                  <li itemprop="child" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                    <a href="{{ sublink.url }}" itemprop="url">{{ sublink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <ul class="menu_right">
        <li>
          <a class="menu_search"><i class="far fa-search"></i></a>
        </li>
        <li>
          <a
            class="menu_cart"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <i class="far fa-shopping-basket"></i>
            <span class="qnty">{{ cart.item_count }}</span>
          </a>
        </li>
        <li>
          <a class="menu_order common_btn" href="menu_03.html">
            <span class="icon">
              <img src="assets/cart_icon_1.png" alt="order" class="img-fluid w-100">
            </span>
            order now
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<head>
  <!-- Other meta tags and stylesheets -->

  <!-- Schema Markup for Organization -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{ shop.name }}",
      "url": "{{ shop.url }}",
      "logo": "{{ settings.logo | img_url: 'master' }}",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "{{ shop.phone }}",
        "contactType": "customer service",
        "areaServed": "{{ shop.country }}"
      },
      "sameAs": [
        {% for social_link in shop.social_links %}
          "{{ social_link }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    }
  </script>
</head>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Select logo",
      "info": "Recommnended siz: 100x100px"
    },
    {
      "type": "image_picker",
      "id": "user_img",
      "label": "Select user_img",
      "info": "Recommnended siz: 50x50px"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu"
    },
    {
      "type": "header",
      "content": "Search bar"
    }, {
      "type": "checkbox",
      "id": "enable_search_box",
      "label": "Enable_search_box",
      "default": true
    }
  ]
}
{% endschema %}
