<section class="banner" style="background-image: url('{{ section.settings.background_image | img_url: 'large' }}');">
  <div class="container container_large">
    <div class="row justify-content-between align-items-center">
      <div class="col-xxl-6 col-lg-6 col-xl-6 col-md-9">
        <div class="banner_text wow fadeInUp">
          <h5>{{ section.settings.title }}</h5>
          <h1>
            {{ section.settings.title }}
          </h1>
          <p>{{ section.settings.intro_text }}</p>
          <form>
            <input type="text" placeholder="Enter Your Location">
            <div class="banner_btn_area d-flex flex-wrap align-items-center">
              <button class="common_btn" type="submit">Pickup</button>
              <span>or</span>
              <button class="common_btn" type="submit">Delivery</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xxl-5 col-lg-6 col-xl-6">
        <div class="banner_img wow fadeInRight">
          <div class="img">
            <img
              src="{{ section.settings.image | img_url: 'large' }}"
              alt="{{ section.settings.image }} "
              width="auto"
              height="auto">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "banner-2",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      }, {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Welcome to Our Store"
      }, {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Welcome to Our Store"
      }, {
        "type": "text",
        "id": "intro_text",
        "label": "Introductory Text",
        "default": "This is some introductory text about our store."
      }
    ],
    "blocks": [
      {
        "type": "form",
        "name": "Pickup Form",
        "settings": [
          {
            "type": "text",
            "id": "location_label",
            "label": "Location Label",
            "default": "Location:"
          }, {
            "type": "text",
            "id": "location_placeholder",
            "label": "Location Placeholder",
            "default": "Enter your location..."
          }, {
            "type": "text",
            "id": "button_label",
            "label": "Button Label",
            "default": "Pickup"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom",
        "name": "Home Section"
      }
    ]
  }

{% endschema %}